{% include header.html %}

<script>
  window.onload = function () {
    if (window.location.search == "?r=1") {
      errorEl = document.getElementById("error-message");
      errorEl.style.display = 'block';
    }
  }
</script>


<h1>Archives</h1>
{% include search.html %}

<p id="error-message" style="display:none">Aw Snap. You 404'd it. I redirected you to a list of all my posts</p>
<ul>
  {% for post in site.posts %}

    {% unless post.next %}
      <h3>{{ post.date | date: '%Y' }}</h3>
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        <h3>{{ post.date | date: '%Y' }}</h3>
      {% endif %}
    {% endunless %}

    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

{% include footer.html %}